.header {
    color: #494bc5;
    text-align: center;
    padding: 10px 0;
 }

 .headerImage {
    border-radius: 25%;
    margin-bottom: 10px;
    box-shadow: 5px 5px 10px #333;
 }
 
 .headerButton {
    font-family: "Open Sans", sans-serif;
 }
